@model ChainsAPM.Models.EntryPoint
@{
        ViewBag.Title = "Details for " + Model.Name;

}

<h3>@Model.Name</h3>

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">HTTP Data</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">SQL Calls</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Service Calls</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Exceptions</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Logging</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Call Stack</div>
            <div class="panel-body">
                <ul class="fa-ul callstack" style="margin-left : 1em">
                    @foreach ( ChainsAPM.Interfaces.IStackItem child in Model.Children ) {
                    @RenderTree(child)
                    }

                </ul>

            </div>
        </div>
    </div>
</div>

@helper RenderTree(ChainsAPM.Interfaces.IStackItem node) {
<li><i class="fa fa-globe" style="padding-right: .25em"></i>@node.Name</li>
if ( node.Children != null && node.Children.Any() ) {
<ul class="fa-ul callstack" style="margin-left : 1em">
    @foreach ( ChainsAPM.Interfaces.IStackItem child in node.Children ) {
    @RenderTree(child);
                    }
</ul>
}
}